.RouteHub {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 90;
    transform: translateX(0px);
    transition: transform .22s ease-in;

}

.RouteHub.close {
    transform: translateX(-300px);
}

.RouteHub ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.RouteHub ul li {
   margin-bottom: 15px;
}

.RouteHub ul li a {
    margin-bottom: 15px;
}

.RouteHub ul li:hover {
    color: darkred;
    opacity: .7;
}